In [20]:
import json
import os
import pandas as pd
po = []
ne = []
for i in range(8,11):
    if(i<10):
         source = 'C:/Users/CU696Aliasgar/Downloads/MCIWorld-AlticeMCI-Altice1_4/MCIWorld-AlticeMCI-Altice1/2022/08/12/0'+str(i)
    else:
        source = 'C:/Users/CU696Aliasgar/Downloads/MCIWorld-AlticeMCI-Altice1_4/MCIWorld-AlticeMCI-Altice1/2022/08/12/'+str(i)
    q = os.listdir(source)
    print(len(q))

    for fi in q:
        al = source +'/' + fi
        with open(al) as f:
            try:
                data = json.load(f)
                
                po.append(data.get("sentiment"))
                ne.append(fi[0:10])
                if(len(po)!=len(ne)):
                    print(fi)
            
            except:
                print(fi)

44
c61324464.json
68
309
c61325510.json
c61326139.json
c61326515.json
g22504339.json
g22504347.json

In [22]:
print(len(ne))
print(len(po))

415
415

In [23]:
df = pd.DataFrame({'sentiment':po,'file':ne})
df

           date        file
0    2022-08-13  c61324137.
1    2022-08-13  c61324150.
2    2022-08-13  c61324190.
3    2022-08-13  c61324211.
4    2022-08-13  c61324216.
..          ...         ...
410  2022-08-13  g22504549.
411  2022-08-13  g22504592.
412  2022-08-13  g22504603.
413  2022-08-13  g22504618.
414  2022-08-13  g22504632.

[415 rows x 2 columns]

In [24]:
df['sentiment'].value_counts()

2022-08-13    415
Name: date, dtype: int64

In [83]:
po = []
ne = []
for i in range(10,21):
    if(i==13 or i==14):
        continue
    elif(i<10):
        source = 'C:/Users/CU696Aliasgar/Downloads/text/MCIWorld-AlticeMCI-Altice1_12/MCIWorld-AlticeMCI-Altice1/2022/08/27/0'+str(i)
    else:
        source = 'C:/Users/CU696Aliasgar/Downloads/text/MCIWorld-AlticeMCI-Altice1_12/MCIWorld-AlticeMCI-Altice1/2022/08/27/'+str(i)
    q = os.listdir(source)
    print(len(q))
    for fi in q:
        al = source +'/' + fi
        file = open(al,'r')
        f = file.readlines()
        ne.append(f)
        po.append(fi[:10])
df1 = pd.DataFrame({'lines':ne,'file':po})
df1

1
6
1
250
547
571
551
366
147

                                                  lines        file
0              [CLIENT: Welcome to the voicemail of.\n]  g22553458.
1     [CLIENT: Hello, this is Ahmed last I'm calling...  g22553459.
2     [CLIENT: Hello. Hello. This is I'm enough for ...  g22553460.
3     [CLIENT: No this is wrong and now.\n, AGENT: C...  g22553461.
4                                     [AGENT: Hello.\n]  g22553462.
...                                                 ...         ...
2435                           [AGENT: Hello. Hello.\n]  c61527597.
2436  [AGENT: Hello, my name is Omar. Hey nesta, I'm...  c61527601.
2437  [AGENT: Hello. Good afternoon. This is Kyle bl...  c61527605.
2438  [CLIENT: Hello.\n, AGENT: Hello, this is hello...  c61527607.
2439  [AGENT: Hello. This is Melissa calling on beha...  c61527620.

[2440 rows x 2 columns]

In [84]:
import numpy as np
df[df["file"]!=df1["file"]]

Empty DataFrame
Columns: [sentiment, file]
Index: []

In [85]:
Dataset=pd.merge(df,df1,on="file")

In [86]:
Dataset

,sentiment,file,lines
0,Neutral,g22553458.,[CLIENT: Welcome to the voicemail of.\n]
1,Mixed,g22553459.,"[CLIENT: Hello, this is Ahmed last I'm calling..."
2,Negative,g22553460.,[CLIENT: Hello. Hello. This is I'm enough for ...
3,Positive,g22553461.,"[CLIENT: No this is wrong and now.\n, AGENT: C..."
4,Neutral,g22553462.,[AGENT: Hello.\n]
...,...,...,...
2435,Neutral,c61527597.,[AGENT: Hello. Hello.\n]
2436,Mostly Positive,c61527601.,"[AGENT: Hello, my name is Omar. Hey nesta, I'm..."
2437,Mostly Negative,c61527605.,[AGENT: Hello. Good afternoon. This is Kyle bl...
2438,Mixed,c61527607.,"[CLIENT: Hello.\n, AGENT: Hello, this is hello..."
2439,Mostly Positive,c61527620.,[AGENT: Hello. This is Melissa calling on beha...

In [87]:
Dataset.replace("Neutral",np.NaN,inplace=True)

In [88]:
Dataset.dropna(inplace=True)

In [89]:
Dataset

,sentiment,file,lines
1,Mixed,g22553459.,"[CLIENT: Hello, this is Ahmed last I'm calling..."
2,Negative,g22553460.,[CLIENT: Hello. Hello. This is I'm enough for ...
3,Positive,g22553461.,"[CLIENT: No this is wrong and now.\n, AGENT: C..."
8,Positive,c61523128.,"[AGENT: Hello, my name is Julia Garcia. I'm ca..."
9,Positive,c61523162.,[AGENT: Hi Williams. This is Ramon Reyes. I'm ...
...,...,...,...
2433,Negative,c61527595.,[CLIENT: Your call has been forwarded to an au...
2436,Mostly Positive,c61527601.,"[AGENT: Hello, my name is Omar. Hey nesta, I'm..."
2437,Mostly Negative,c61527605.,[AGENT: Hello. Good afternoon. This is Kyle bl...
2438,Mixed,c61527607.,"[CLIENT: Hello.\n, AGENT: Hello, this is hello..."
2439,Mostly Positive,c61527620.,[AGENT: Hello. This is Melissa calling on beha...

In [90]:
Dataset.replace("Mixed",np.NaN,inplace=True)
Dataset.dropna(inplace=True)
Dataset

,sentiment,file,lines
2,Negative,g22553460.,[CLIENT: Hello. Hello. This is I'm enough for ...
3,Positive,g22553461.,"[CLIENT: No this is wrong and now.\n, AGENT: C..."
8,Positive,c61523128.,"[AGENT: Hello, my name is Julia Garcia. I'm ca..."
9,Positive,c61523162.,[AGENT: Hi Williams. This is Ramon Reyes. I'm ...
10,Positive,c61523170.,[AGENT: Anderson from element the the affected...
...,...,...,...
2431,Negative,c61527593.,"[CLIENT: Hi, this is Annette. I'm sorry, I can..."
2433,Negative,c61527595.,[CLIENT: Your call has been forwarded to an au...
2436,Mostly Positive,c61527601.,"[AGENT: Hello, my name is Omar. Hey nesta, I'm..."
2437,Mostly Negative,c61527605.,[AGENT: Hello. Good afternoon. This is Kyle bl...
2439,Mostly Positive,c61527620.,[AGENT: Hello. This is Melissa calling on beha...

In [91]:
Dataset.replace("Negative",0,inplace=True)
Dataset.replace("Mostly Positive",1,inplace=True)
Dataset.replace("Positive",1,inplace=True)
Dataset.replace("Mostly Negative",0,inplace=True)
Dataset["sentiment"].value_counts()

0    482
1    365
Name: sentiment, dtype: int64

In [92]:
Dataset

      sentiment        file                                              lines
2             0  g22553460.  [CLIENT: Hello. Hello. This is I'm enough for ...
3             1  g22553461.  [CLIENT: No this is wrong and now.\n, AGENT: C...
8             1  c61523128.  [AGENT: Hello, my name is Julia Garcia. I'm ca...
9             1  c61523162.  [AGENT: Hi Williams. This is Ramon Reyes. I'm ...
10            1  c61523170.  [AGENT: Anderson from element the the affected...
...         ...         ...                                                ...
2431          0  c61527593.  [CLIENT: Hi, this is Annette. I'm sorry, I can...
2433          0  c61527595.  [CLIENT: Your call has been forwarded to an au...
2436          1  c61527601.  [AGENT: Hello, my name is Omar. Hey nesta, I'm...
2437          0  c61527605.  [AGENT: Hello. Good afternoon. This is Kyle bl...
2439          1  c61527620.  [AGENT: Hello. This is Melissa calling on beha...

[847 rows x 3 columns]

In [93]:
Dataset.to_csv("TestData.csv",mode="a",header = False,index = False)

In [94]:
import pandas as pd
df = pd.read_csv("TestData.csv",header = None)
df.columns = ['sentiment','file','content']
df.iloc[:38]

    sentiment        file                                            content
0           0  c61453565.  ["AGENT: Hi, you've reached Sandy Dodge amiss....
1           0  c61453574.  ['CLIENT: Hello, Rene four is not available.\n...
2           0  c61453588.  ['AGENT: Hi, my name is she 100 Thompson. I wa...
3           1  c61453651.  ['AGENT: Hey, this is and\n', 'CLIENT: Welch, ...
4           0  c61453664.  ['AGENT: Hello.\n', 'CLIENT: Felicia.\n', 'AGE...
5           0  c61453673.  ['CLIENT: Your call has been forwarded to an a...
6           0  c61453703.  ['AGENT: Your call has been forwarded to an au...
7           1  c61453769.  ['CLIENT: Aloe and.\n', 'AGENT: Yes.\n', "CLIE...
8           1  c61453792.  ["AGENT: Hello, my name is Bruce Russell and I...
9           0  c61453809.  ['AGENT: Call has been forwarded to an automat...
10          0  c61453811.  ["AGENT: It's hello, sir. My name is Robert Lo...
11          1  c61453816.  ["AGENT: Hello and they'll have.\n", 'CLIENT: ...
12          0  c61453846.  ["AGENT: Good morning, my name is Bruce Russel...
13          0  c61453856.  ["AGENT: I'm sorry, the person you are trying ...
14          0  c61453866.  ['AGENT: Hello, we are not available now. Plea...
15          0  c61453870.  ['AGENT: Your call has been forwarded to an au...
16          0  c61453894.  ["CLIENT: I'm sorry, the person you are trying...
17          0  c61453881.  ['AGENT: Hi diamond this.\n', "CLIENT: I'm cal...
18          0  c61453890.  ["CLIENT: Sorry, can answer the phone right no...
19          1  c61453900.  ['AGENT: Your call has been forwarded to an au...
20          0  c61453965.  ["CLIENT: Hi, this is a very Gomez. I'm not av...
21          1  c61453977.  ['CLIENT: Hello.\n', "AGENT: Hello, my name is...
22          0  c61454017.  ['AGENT: Your call has been forwarded to an au...
23          0  c61454036.  ["CLIENT: I asked her cache this is Alma calli...
24          0  c61454057.  ['CLIENT: Your call has been forwarded to an a...
25          0  c61454108.  ["AGENT: Hello. Hey, this is separate. This is...
26          0  c61454133.  ["CLIENT: I'm sorry,\n", 'CLIENT: but the pers...
27          1  c61454165.  ['CLIENT: Hi, this is Dale leave your central....
28          0  c61454244.  ["AGENT: Yes. Hello, miss my name is Robert Lo...
29          0  c61454250.  ["AGENT: The person you're calling isn't accep...
30          0  c61454264.  ["CLIENT: I'm sorry, the person you are trying...
31          0  c61454312.  ['AGENT: Your call has been forwarded to an au...
32          0  c61454315.  ['CLIENT: Hi, my name.\n', 'AGENT: Sandra Thom...
33          0  c61454357.  ['CLIENT: This is Brandon.\n', "AGENT: Hi, so ...
34          0  c61454381.  ["CLIENT: I'm sorry, the person you are trying...
35          0  c61454387.  ["CLIENT: I'm sorry, the person you called has...
36          1  c61454393.  ['CLIENT: Hello.\n', 'AGENT: Hi, my name is Sa...
37          0  c61454394.  ['CLIENT: Your call has been forwarded to an a...

In [95]:
df["sentiment"].value_counts()

0    4212
1    3281
Name: sentiment, dtype: int64

In [96]:
df["file"].duplicated().sum()

0

In [133]:
df1 = df[df["sentiment"] == 0]

In [134]:
df1.reset_index(inplace = True,drop=True)

In [135]:
import random
l = []
for i in range(1,883):
    n = random.randint(1,10000)
    l.append(n)
l

[9391,
 5421,
 8373,
 4965,
 1599,
 6401,
 5305,
 3615,
 9322,
 7358,
 6494,
 6248,
 1509,
 8582,
 4701,
 5879,
 7384,
 3553,
 8461,
 9100,
 1339,
 9464,
 5275,
 4518,
 2557,
 7236,
 3321,
 8975,
 8495,
 4851,
 7329,
 1296,
 8541,
 1983,
 1651,
 835,
 1015,
 7817,
 7026,
 8616,
 8267,
 1785,
 6319,
 5172,
 2297,
 8677,
 1587,
 5176,
 6288,
 2380,
 9281,
 6436,
 7106,
 3515,
 2873,
 8525,
 8546,
 9904,
 7455,
 6332,
 1761,
 6084,
 9332,
 5283,
 2734,
 4766,
 9246,
 9890,
 199,
 4928,
 7583,
 9661,
 6599,
 3065,
 1402,
 2542,
 2028,
 5248,
 4705,
 7952,
 7802,
 3147,
 8896,
 439,
 6725,
 9286,
 2882,
 7141,
 2952,
 7530,
 31,
 6164,
 1498,
 498,
 7283,
 9399,
 8893,
 538,
 6507,
 5551,
 8055,
 3359,
 7811,
 1737,
 5422,
 9950,
 3240,
 5468,
 1711,
 5244,
 5383,
 4928,
 5200,
 1040,
 4910,
 8500,
 5828,
 7125,
 8559,
 7057,
 6095,
 7136,
 9249,
 7185,
 6944,
 3757,
 2540,
 8674,
 1164,
 3852,
 118,
 8248,
 5790,
 4768,
 9443,
 1593,
 7994,
 7120,
 7979,
 6526,
 2000,
 516,
 4332,
 5770,
 5471,
 7266,
 9103,
 9387,
 2988,
 6894,
 3420,
 429,
 2423,
 1972,
 6752,
 2492,
 3003,
 8563,
 8386,
 6652,
 6720,
 9088,
 5775,
 5351,
 1371,
 8204,
 7087,
 704,
 4139,
 8708,
 5491,
 6722,
 2718,
 4340,
 646,
 5137,
 5364,
 8726,
 4602,
 4086,
 3971,
 8491,
 4879,
 9137,
 904,
 9133,
 8082,
 6489,
 179,
 3545,
 9569,
 9497,
 5743,
 9435,
 5470,
 6665,
 8253,
 7870,
 2122,
 2486,
 1712,
 526,
 5214,
 1203,
 8182,
 362,
 9770,
 511,
 6694,
 5998,
 3393,
 5198,
 7265,
 5561,
 214,
 4403,
 3676,
 435,
 6743,
 7614,
 5063,
 1687,
 3012,
 6950,
 9425,
 6063,
 3266,
 2680,
 5815,
 3693,
 3212,
 4625,
 6393,
 8297,
 1182,
 7351,
 7561,
 5106,
 1443,
 8245,
 6867,
 7889,
 6677,
 4054,
 5435,
 9919,
 7402,
 5943,
 581,
 6688,
 5883,
 7809,
 9829,
 9186,
 2396,
 7457,
 9127,
 3641,
 2936,
 2738,
 9016,
 9066,
 2064,
 1492,
 8450,
 2018,
 599,
 3289,
 5163,
 6379,
 7382,
 4527,
 4630,
 8389,
 4659,
 7181,
 5005,
 6003,
 5345,
 721,
 7069,
 4699,
 9481,
 2437,
 1794,
 366,
 5929,
 6687,
 2575,
 1020,
 7117,
 6657,
 4260,
 2349,
 8956,
 6718,
 4575,
 1991,
 6827,
 3344,
 3292,
 7666,
 3309,
 327,
 2909,
 4858,
 2259,
 7353,
 8427,
 439,
 7806,
 7350,
 3552,
 4019,
 1261,
 6234,
 9988,
 3137,
 5582,
 9807,
 8319,
 7055,
 3603,
 8649,
 1924,
 4341,
 6522,
 447,
 9215,
 3551,
 8129,
 6097,
 2924,
 7062,
 6528,
 8532,
 6589,
 4079,
 6324,
 7058,
 6386,
 2981,
 4447,
 29,
 5019,
 1311,
 7706,
 3315,
 8826,
 6412,
 2927,
 1219,
 5055,
 8218,
 7718,
 5831,
 1720,
 6391,
 4973,
 5666,
 917,
 6222,
 8578,
 1889,
 2121,
 5467,
 774,
 6274,
 9601,
 6933,
 742,
 4175,
 552,
 9917,
 4778,
 9863,
 356,
 8129,
 9309,
 6873,
 8285,
 7820,
 3811,
 6749,
 5749,
 3538,
 6500,
 955,
 6969,
 9574,
 9739,
 9068,
 1005,
 1619,
 4647,
 6747,
 2645,
 9005,
 2912,
 159,
 338,
 3866,
 4340,
 9544,
 6178,
 8484,
 6547,
 3515,
 6511,
 9646,
 2179,
 9816,
 1365,
 822,
 634,
 1816,
 9681,
 4697,
 120,
 1747,
 4653,
 9098,
 1926,
 7462,
 5980,
 6258,
 6365,
 9721,
 3049,
 3987,
 7537,
 2772,
 5428,
 955,
 532,
 5428,
 4617,
 9484,
 8082,
 526,
 2251,
 3155,
 1894,
 137,
 5287,
 7942,
 5402,
 7077,
 2302,
 3144,
 6355,
 100,
 9731,
 8548,
 632,
 6420,
 3151,
 3136,
 2488,
 3621,
 3628,
 9815,
 8925,
 8306,
 9843,
 2855,
 5491,
 1252,
 6974,
 4570,
 5853,
 4211,
 5902,
 9356,
 1508,
 8171,
 9677,
 2682,
 5572,
 4150,
 4071,
 6764,
 1835,
 8286,
 3765,
 4891,
 7231,
 461,
 4835,
 1786,
 1678,
 5228,
 8643,
 154,
 4032,
 2983,
 2704,
 7928,
 4352,
 1801,
 8799,
 2794,
 4920,
 5675,
 1374,
 9464,
 1562,
 4776,
 2382,
 9858,
 9761,
 6522,
 5831,
 6562,
 6603,
 4204,
 23,
 1056,
 1919,
 8567,
 9492,
 3981,
 7658,
 2702,
 4250,
 5112,
 421,
 2830,
 6937,
 9398,
 6052,
 964,
 9858,
 8519,
 3722,
 7948,
 9758,
 2630,
 6292,
 4751,
 2980,
 6911,
 3445,
 2443,
 6641,
 1739,
 4953,
 1232,
 255,
 3491,
 5356,
 1878,
 9821,
 8824,
 5792,
 6976,
 7598,
 3173,
 5777,
 9295,
 6417,
 6906,
 7164,
 3055,
 387,
 1365,
 6024,
 1822,
 6870,
 9781,
 3835,
 6524,
 9584,
 626,
 9541,
 6681,
 3217,
 7232,
 1423,
 407,
 5875,
 7805,
 806,
 6284,
 3398,
 6452,
 1669,
 5384,
 821,
 3423,
 359,
 7692,
 5976,
 4802,
 9552,
 5555,
 782,
 63,
 467,
 1067,
 8886,
 2076,
 3907,
 5584,
 4375,
 2405,
 5900,
 683,
 6756,
 399,
 7343,
 7995,
 3260,
 5992,
 2066,
 2359,
 5984,
 5961,
 6591,
 8418,
 8228,
 5185,
 5921,
 8922,
 8039,
 2870,
 2147,
 5274,
 9928,
 5741,
 5249,
 4124,
 5138,
 4153,
 4625,
 9326,
 8326,
 3097,
 5496,
 6335,
 1717,
 7114,
 3515,
 7363,
 6262,
 3333,
 9241,
 2351,
 3851,
 441,
 3485,
 8749,
 370,
 7236,
 9072,
 176,
 5217,
 7841,
 8338,
 1380,
 9930,
 6053,
 930,
 5385,
 4147,
 752,
 9377,
 4675,
 8418,
 3508,
 8547,
 9056,
 6997,
 6059,
 4779,
 3871,
 1161,
 8320,
 3337,
 3603,
 6365,
 9288,
 8053,
 5822,
 2429,
 8441,
 7952,
 8331,
 3728,
 5476,
 7741,
 6053,
 7647,
 1849,
 122,
 1925,
 461,
 6519,
 4862,
 8985,
 6164,
 7749,
 2981,
 7609,
 9549,
 8886,
 8260,
 7539,
 2829,
 7654,
 6547,
 108,
 4446,
 7629,
 7537,
 199,
 8892,
 9068,
 2607,
 6791,
 599,
 7242,
 2484,
 2962,
 4834,
 3500,
 2830,
 3100,
 4214,
 7972,
 907,
 8335,
 6084,
 9590,
 7705,
 5685,
 5177,
 2807,
 3836,
 8377,
 3017,
 8464,
 3065,
 8387,
 2378,
 1331,
 3669,
 9833,
 8070,
 3049,
 8483,
 1045,
 9672,
 1154,
 3604,
 2927,
 3360,
 9630,
 1795,
 3111,
 5545,
 3914,
 4994,
 7309,
 1745,
 3331,
 7509,
 7224,
 7242,
 637,
 6329,
 4394,
 1244,
 2633,
 9100,
 2189,
 1535,
 9617,
 7813,
 9097,
 2599,
 7955,
 6534,
 7137,
 5896,
 7541,
 668,
 5543,
 8030,
 2417,
 9774,
 1775,
 862,
 9634,
 8646,
 5417,
 1166,
 1787,
 4901,
 8205,
 8041,
 9340,
 3528,
 3017,
 1395,
 4706,
 6770,
 126,
 7273,
 3938,
 734,
 1666,
 571,
 4686,
 2131,
 2938,
 2974,
 1929,
 6059,
 4802,
 3143,
 213,
 2770,
 4312,
 6559,
 7511,
 8556,
 6123,
 1410,
 958,
 5220,
 7762,
 4129,
 8888,
 1338,
 7190,
 2249,
 9156,
 5301,
 388,
 9104,
 6278,
 3506,
 2827,
 5753,
 7544,
 5644,
 3447,
 755,
 6433,
 3008,
 3996,
 2343,
 9612,
 3122,
 3214,
 8673,
 8994,
 2570,
 4369,
 3981,
 3229,
 8569,
 9983,
 1915,
 6122,
 4704,
 6282,
 7920,
 9497,
 9884,
 4915,
 1176,
 1546,
 7557,
 3352,
 9571,
 6878,
 1937,
 3426,
 9982,
 8512]

In [136]:
df1.drop(l,axis = 0,inplace = True)

C:\Users\CU696Aliasgar\AppData\Local\Temp\ipykernel_15844\1557343017.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(l,axis = 0,inplace = True)

In [137]:
df1

,sentiment,file,content
0,0,c61198198.,['AGENT: Please leave your message for 347-356...
1,0,c61198200.,['CLIENT: Mail box belonging to 551-486-5969 i...
2,0,c61198218.,"[""CLIENT: I'm sorry, but the person you called..."
3,0,c61198222.,['AGENT: Your call has been forwarded to an au...
4,0,c61198242.,['AGENT: Please leave your message for 609-510...
...,...,...,...
12331,0,c61467868.,"[""CLIENT: I'm sorry, the person you are trying..."
12332,0,g22539856.,"['AGENT: Hello, good afternoon. This is Jesus ..."
12333,0,g22539861.,"['CLIENT: Hello, good afternoon. Hello.\n', 'A..."
12334,0,g22539870.,"['CLIENT: Southern linc. Hello.\n', 'AGENT: He..."
12335,0,g22539871.,"['CLIENT: Southern linc. Hello.\n', 'AGENT: He..."

In [138]:
df['sentiment'].value_counts()

0    12336
1    11453
Name: sentiment, dtype: int64

In [139]:
11498-11453

45

In [140]:
df1.reset_index(inplace = True,drop=True)

In [143]:
df1["sentiment"].value_counts()

0    11498
Name: sentiment, dtype: int64

In [145]:
df = pd.read_csv("myDataset.csv",header = None)
df.columns = ['sentiment','file','content']
df.iloc[:38]
df

,sentiment,file,content
0,0,c61198198.,['AGENT: Please leave your message for 347-356...
1,0,c61198200.,['CLIENT: Mail box belonging to 551-486-5969 i...
2,0,c61198218.,"[""CLIENT: I'm sorry, but the person you called..."
3,0,c61198222.,['AGENT: Your call has been forwarded to an au...
4,0,c61198242.,['AGENT: Please leave your message for 609-510...
...,...,...,...
23784,1,g22539867.,"['CLIENT: Hello. Good evening.\n', 'AGENT: Num..."
23785,1,g22539868.,"['AGENT: Hi, this is Robert James calling on b..."
23786,0,g22539870.,"['CLIENT: Southern linc. Hello.\n', 'AGENT: He..."
23787,0,g22539871.,"['CLIENT: Southern linc. Hello.\n', 'AGENT: He..."
23788,1,g22539874.,"['CLIENT: Hello.\n', 'AGENT: Hi, this is Rober..."

In [146]:
df1

,sentiment,file,content
0,0,c61198198.,['AGENT: Please leave your message for 347-356...
1,0,c61198200.,['CLIENT: Mail box belonging to 551-486-5969 i...
2,0,c61198218.,"[""CLIENT: I'm sorry, but the person you called..."
3,0,c61198222.,['AGENT: Your call has been forwarded to an au...
4,0,c61198242.,['AGENT: Please leave your message for 609-510...
...,...,...,...
11493,0,c61467868.,"[""CLIENT: I'm sorry, the person you are trying..."
11494,0,g22539856.,"['AGENT: Hello, good afternoon. This is Jesus ..."
11495,0,g22539861.,"['CLIENT: Hello, good afternoon. Hello.\n', 'A..."
11496,0,g22539870.,"['CLIENT: Southern linc. Hello.\n', 'AGENT: He..."
11497,0,g22539871.,"['CLIENT: Southern linc. Hello.\n', 'AGENT: He..."

In [147]:
l1 = df[df['sentiment']==0].index.tolist()

In [148]:
df.drop(l1,axis=0,inplace=True)

In [149]:
df

,sentiment,file,content
5,1,c61198246.,"[""AGENT: Hello. Hi, my name is Jason for you I..."
11,1,c61198263.,"['CLIENT: Hello.\n', ""AGENT: Hello, this is Ch..."
12,1,c61198269.,['AGENT: Have done those calling from Optimum ...
13,1,c61198280.,"[""AGENT: I'm still.\n"", 'CLIENT: Person you ca..."
14,1,c61198282.,['AGENT: Thank you for taking out cause we app...
...,...,...,...
23780,1,g22539854.,"[""CLIENT: Hello. Hello. Hello. Hello. Good aft..."
23783,1,g22539863.,['CLIENT: Here you calling this is calling on ...
23784,1,g22539867.,"['CLIENT: Hello. Good evening.\n', 'AGENT: Num..."
23785,1,g22539868.,"['AGENT: Hi, this is Robert James calling on b..."
23788,1,g22539874.,"['CLIENT: Hello.\n', 'AGENT: Hi, this is Rober..."

In [151]:
df1.to_csv("Bigdata.csv",mode="a",header = False,index = False)

In [152]:
df.to_csv("Bigdata.csv",mode="a",header = False,index = False)

In [153]:
df = pd.read_csv("Bigdata.csv",header = None)
df.columns = ['sentiment','file','content']
df.iloc[:38]

    sentiment        file                                            content
0           0  c61198198.  ['AGENT: Please leave your message for 347-356...
1           0  c61198200.  ['CLIENT: Mail box belonging to 551-486-5969 i...
2           0  c61198218.  ["CLIENT: I'm sorry, but the person you called...
3           0  c61198222.  ['AGENT: Your call has been forwarded to an au...
4           0  c61198242.  ['AGENT: Please leave your message for 609-510...
5           0  c61198248.  ['AGENT: Call has been forwarded to an automat...
6           0  c61198252.  ["CLIENT: When I'm not sure if you don't my.\n...
7           0  c61198255.  ['CLIENT: This is Ross I am unable to take you...
8           0  c61198259.  ['AGENT: Hello to use the phone.\n', "CLIENT: ...
9           0  c61198262.  ["CLIENT: I'm sorry, the person you are trying...
10          0  c61198285.  ['AGENT: Call has been forwarded to an automat...
11          0  c61198291.  ["AGENT: Hello, hi, miss and get to know and I...
12          0  c61198294.  ['AGENT: Your call has been forwarded to an au...
13          0  c61198310.  ['AGENT: Your call has been forwarded to an au...
14          0  c61198344.  ["CLIENT: Hi, you've reached voicemail for Tim...
15          0  c61198346.  ["AGENT: Don't go calling from Optimum for a C...
16          0  c61198360.  ['AGENT: Your call has been forwarded to an au...
17          0  c61198362.  ['AGENT: Your call has been forwarded to an au...
18          0  c61198367.  ["CLIENT: I'm sorry, but the person you called...
19          0  c61198370.  ["AGENT: Hi, this is patty. Just leave me a me...
20          0  c61198373.  ["AGENT: Hello, trying to reach me up and now ...
21          0  c61198375.  ['AGENT: Hello.\n', "CLIENT: No, this is Alec ...
22          0  c61198381.  ['CLIENT: Your call has been forwarded to an a...
23          0  c61198390.  ['CLIENT: Your call has been forwarded to an a...
24          0  c61198396.  ["AGENT: I'm sorry, but the.\n", 'CLIENT: Pers...
25          0  c61198406.  ["CLIENT: This is Lindsay, sorry, I couldn't g...
26          0  c61198408.  ['AGENT: Your call has been forwarded to an au...
27          0  c61198409.  ["AGENT: Hey canceling up the phone right. Now...
28          0  c61198421.  ["AGENT: Hello, this is Carlos Espinosa. I'm c...
29          0  c61198430.  ["AGENT: Hello. Thank you for calling Patrick ...
30          0  c61198434.  ["AGENT: Hello. Hello. This is Jesse Chavez ca...
31          0  c61198438.  ["AGENT: I'm sorry.\n", 'CLIENT: But the perso...
32          0  c61198464.  ["CLIENT: I'm sorry, the person you are trying...
33          0  c61198473.  ['CLIENT: Your call has been forwarded to an z...
34          0  c61198474.  ['CLIENT: Your call has been forwarded to an a...
35          0  c61198499.  ['AGENT: Your call has been forwarded to an au...
36          0  c61198500.  ['AGENT: Please leave your message for 203-257...
37          0  c61198507.  ['AGENT: Please leave your message for 623-340...

In [154]:
df["sentiment"].value_counts()

0    11498
1    11453
Name: sentiment, dtype: int64

In [103]:
df = df.sample(frac = 1)

22918

In [157]:
df.reset_index(drop=True,inplace=True)

In [158]:
df

,sentiment,file,content
0,1,c61280565.,"['CLIENT: I love.\n', 'AGENT: Yes. Hello, sir...."
1,0,c61407819.,['AGENT: Your call has been forwarded to an au...
2,1,c61389554.,"[""AGENT: Hello. This is Bruce calling from the..."
3,0,c61467393.,['AGENT: Please leave your message for 718-502...
4,1,c61320821.,"[""AGENT: Yes, good evening. My name is Felicia..."
...,...,...,...
22913,1,g22503300.,"[""AGENT: Hello, this is Lupe with you I'm call..."
22914,1,g22515137.,"[""AGENT: Hello, who is this who yes after this..."
22915,0,c61320886.,['AGENT: Hello. This is Melissa calling on beh...
22916,0,c61463883.,"['AGENT: No.\n', 'CLIENT: Hi, good afternoon m..."
22917,0,g22539653.,"[""AGENT: Yes, good afternoon. This is Amanda V..."

In [159]:
df['file'].duplicated().sum()

8417

In [115]:
df

,sentiment,file,content
0,0.0,c61433235.,"['CLIENT: Hello.\n', ""AGENT: Hello, this is he..."
1,1.0,g22531522.,"['CLIENT: Yeah.\n', ""AGENT: Yes. Hello, yes, y..."
2,0.0,c61428184.,"[""AGENT: Yes, maam is manual 20th. I'm calling..."
3,0.0,c61329127.,"[""AGENT: Hi, you've reached Christina, I'm sor..."
4,0.0,c61316921.,['AGENT: Your call has been forwarded to an au...
...,...,...,...
22913,0.0,c61426658.,"['CLIENT: Hello. Hello, this is.\n', ""AGENT: C..."
22914,1.0,c61428633.,"[""AGENT: Hello, yes. Hello, my name is Michael..."
22915,0.0,g22533655.,"[""AGENT: This is Ramon Reyes I'm calling on th..."
22916,0.0,c61406398.,"['CLIENT: Hello.\n', 'AGENT: Hello, this is Al..."
22917,0.0,c61447618.,"[""CLIENT: I'm sorry,\n"", 'CLIENT: but the pers..."

In [127]:
df

,sentiment,file,content
0,0,c61433235.,"['CLIENT: Hello.\n', ""AGENT: Hello, this is he..."
1,1,g22531522.,"['CLIENT: Yeah.\n', ""AGENT: Yes. Hello, yes, y..."
2,0,c61428184.,"[""AGENT: Yes, maam is manual 20th. I'm calling..."
3,0,c61329127.,"[""AGENT: Hi, you've reached Christina, I'm sor..."
4,0,c61316921.,['AGENT: Your call has been forwarded to an au...
...,...,...,...
22913,0,c61426658.,"['CLIENT: Hello. Hello, this is.\n', ""AGENT: C..."
22914,1,c61428633.,"[""AGENT: Hello, yes. Hello, my name is Michael..."
22915,0,g22533655.,"[""AGENT: This is Ramon Reyes I'm calling on th..."
22916,0,c61406398.,"['CLIENT: Hello.\n', 'AGENT: Hello, this is Al..."
22917,0,c61447618.,"[""CLIENT: I'm sorry,\n"", 'CLIENT: but the pers..."

In [128]:
df.to_csv("TestData.csv",mode="a",header = False,index = False)

In [98]:
np.linspace(start = 100, stop = 125, num = 5)

array([100.  , 106.25, 112.5 , 118.75, 125.  ])

In [102]:
for x in np.linspace(start = 100, stop = 125, num = 5):
    print(x)

100.0
106.25
112.5
118.75
125.0